{{#partial "content"}}
    <div class="row">
    <div class="col-md-6">
    <div class="Details">
        <p style="color:green;font-size:20px"> NAME OF FARMER:{{ farmer.name }}</p>
            <p  style="color:green;font-size:20px"> LOCATION: {{farmer.location}}</p>
            <p  style="color:green;font-size:20px">EMAIL: {{farmer.email}}</p>
            <table>
                <caption>Supplies MADE:</caption>
                <tr>
                    <th> Farmer </th>
                    <th> Product </th>
                    <th> Quantity </th>
                </tr>
                {{#each supplies}}
                    <tr>
                        <td>
                            {{farmerName}}
                        </td>
                        <td>
                            {{productName}}
                        </td>
                        <td>
                            {{quantity}}
                        </td>
                    </tr>
                {{/each}}
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div class = "col-md-12">
                        <a class="btn btn-warning" href="/farmers/{{farmer.id}}/edit">Edit</a>
                        <a class="btn btn-warning" href="/farmers/{{farmer.id}}/delete">DELETE</a>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>


    {{/partial}}
{{> layout.hbs}}