{{#partial "content"}}
    <div class="row">
    <div class="col-md-6">
    <div class="Details">
        <p> NAME OF FARMER:{{ farmer.name }}</p>
            <p> LOCATION: {{farmer.location}}</p>
            <p>EMAIL: {{farmer.email}}</p>
        <tr>
            <td>Supplies MADE:</td>
        </tr>
        <tr>
            <td> Farmer </td>
            <td> Product </td>
            <td> Quantity </td>
        </tr>
        {{#each orders}}
            <tr>
                <td>
                    {{farmerName}}
                </td>
                <td>
                    {{productName}}
                </td>
                <td>
                    {{quantity}}
                </td>
            </tr>
        {{/each}}
            <div class="row">
                <div class="col-md-12">
                    <div class = "col-md-12">
                        <a class="btn btn-warning" href="/farmers/{{farmer.id}}/edit">Edit</a>
                        <a class="btn btn-warning" href="/farmers/{{farmer.id}}/delete">DELETE</a>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>


    {{/partial}}
{{> layout.hbs}}