{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                rel="stylesheet"
                integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/app.css"/>

    </head>
    <body>

    <header>
        <nav class="navbar navbar-fixed-top navbar-dark" style="background-color:black;" >
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div  class="navbar-header">
                    <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span style = "float: right" class = "btn btn-default" style = "color: white" >Toggle</span>
                    </button>
                    <a style = "color: white" class="navbar-brand" href="/">AGRI-HUB</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a style = "color: white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Farmers Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{#if farmers}}
                                    {{#each farmers}}
                                        <li><a style="color: orange;" href="/farmers/{{id}}">{{name}}</a></li>
                                    {{/each}}
                                    <li><a style="color: orange;" href="/farmers/new">Add Farmer</a></li>

                                {{else}}
                                    <li><a style="color: orange;" href="/farmers/new">Add Farmer</a></li>
                                {{/if}}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a style = "color: white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Supply Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a style="color: orange;" href="/supplies">View supplies</a></li>
                                <li><a style="color: orange;" href="/supplies/new">Make a Supply</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a style = "color: white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{#if products}}
                                    {{#each products}}
                                        <li><a style="color: orange;" href="/products/{{id}}">{{name}}</a></li>
                                    {{/each}}
                                    <li><a style="color: orange;" href="/products/new">Add product</a></li>

                                {{else}}
                                    <li><a style="color: orange;" href="/products/new">Add product</a></li>
                                {{/if}}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a style = "color: white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Order Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a style="color: orange;" href="/orders">View orders</a></li>
                                <li><a style="color: orange;" href="/orders/new">Place an order</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a style = "color: white" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{#if customers}}
                                    {{#each customer}}
                                        <li><a style="color: orange;" href="/customers/{{id}}">{{name}}</a></li>
                                    {{/each}}
                                    <li><a style="color: orange;" href="/customers/new">Add a customer</a></li>

                                {{else}}
                                    <li><a style="color: orange;" href="/customers/new">Add a customer</a></li>
                                {{/if}}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        {{#block "content"}}
        {{/block}}
    </div>
    <br>
    <br>
    <footer class="footer">



    </footer>
    </div>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}
